@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .5s ease;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #303030;
}

.none {
  display: none;
}

h1,
h2,
h3,
p,
button,
span {
  letter-spacing: .9px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #024578;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0569db;
}

.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.blue-shadow {
  -webkit-box-shadow: 0px -1px 300px 110px rgba(0, 143, 253, 0.22);
  -moz-box-shadow: 0px -1px 300px 110px rgba(0, 143, 253, 0.22);
  box-shadow: 0px -1px 300px 110px rgba(0, 143, 253, 0.22);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* global styles end */


/* Nav start */
nav {
  padding: 20px 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 100;
}

nav img {
  width: 60px;
}

.btn {
  background-color: #242424;
  border: none;
  color: white;
  padding: 12px 32px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background-color: #282828;
}

nav a {
  font-size: 14px;
  color: white;
  text-decoration: none;

}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bage {
  width: 40px;
  height: 40px;
  background-color: #D9D9D9;
  color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.loggedin-nav {
  display: flex;
  flex-direction: column;
}

.menu ul li {
  list-style-type: none;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.menu ul li:last-child {
  color: red;
}

.menu ul li:hover {
  background-color: #303030;
}

.menu ul {
  display: flex;
  flex-direction: column;
}

.menu {
  background-color: #242424;
  padding: 20px;
  width: 180px;
  position: absolute;
  top: 60px;
  right: 30px;
  border-radius: 20px;
}

/* Nav end */

/* Hero start */

.hero {
  padding-top: 60px;
}

.hero h1 {
  font-weight: 900;
  text-align: center;
  font-size: 96px;
  background: #CFCFCF;
  background: linear-gradient(to right, #CFCFCF 0%, #82B6F3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .5;

}

.hero p {
  text-align: center;
  font-weight: 300;
  color: white;
  padding-top: 20px;
}


.btn-wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
  padding-top: 20px;
  justify-content: center;
}

.hero-register {
  background-color: #024578 !important;
}

.hero-register:hover {
  background-color: #0569db !important;
}

/* Hero End */

/* Platforms ui start */
.platforms {
  padding: 60px 0;
}

.platforms img {
  width: 100%;
  position: relative;
  height: 110px;
}

.platforms p {
  font-size: 12px;
  color: #CFCFCF;
  text-align: center;
}

/* Platforms ui End */

/* Grids ui start */

.grids {
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.search-grid {
  background-color: #242424;
  padding: 130px 100px;
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  border-radius: 30px;
  z-index: 300;
}

.grid-half__wrapper {
  display: flex;
  gap: 15px;
}

.half-grid {
  position: relative;
  max-width: 50%;
}

.search-grid__bar {
  background-color: #202020;
  width: 70%;
  padding: 30px 30px;
  border-radius: 50px;
  border: 1px solid #CFCFCF;
  color: white;
  display: flex;
  gap: 10px;
  position: absolute;
  right: -40px;
  font-size: 20px;
}


.end {
  background: #303030;
  width: 50px;
  height: 100px;
  position: absolute;
  right: -50px;
}

.info-grid_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #CFCFCF;
  position: relative;
  top: -30px;
  left: -30px;
}

.info-grid_text h2 {
  font-weight: 900;
  font-size: 35px;

}

.blue-shadow-grid {
  position: absolute;
  top: 1200px;
  right: 1200px;
}

.genre {
  background-color: #202020;
  color: white;
  width: 30%;
  padding: 16px 32px;
  text-align: center;
  border-radius: 50px;

}

.genre:hover {
  background-color: #282828;
  cursor: pointer;
}

.genres {
  gap: 15px;
  display: flex;
  position: relative;
  top: 10px;
  right: 90px;

}


.save-grid-ui {
  background-color: #202020;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  font-size: 100px;
  font-weight: 100;
  color: white;
  text-align: center;
}

/* Gird ui end */


/* footer start */
footer {
  border-top: 1px solid #818080;
}

footer p {
  text-align: center;
  padding: 60px 0;
  color: #818080;
}

/* Footer end */

/* home page responsive start*/

@media (max-width: 1300px) {

  html,
  body {
    overflow-x: hidden !important;
    position: relative;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .search-grid {
    padding: 100px 80px;
  }

  .hero h1 {
    font-size: 70px;
  }
}

@media (max-width: 750px) {

  .grid-half__wrapper {
    flex-wrap: wrap;
  }

  .half-grid {
    position: relative;
    max-width: 100%;
  }

  .hero h1 {
    font-size: 50px;
  }

  .hero p {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .hero h1 {
    font-size: 35px;
  }

  .hero p {
    font-size: 12px;
  }

  .info-grid_text h2 {
    font-size: 25px;
  }

  .info-grid_text p {
    font-size: 12px;
  }

  .platforms {
    padding: 30px 0;
  }

  .search-grid {
    overflow-x: hidden;
  }

  .platforms img {
    width: 130%;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 30px;
  }

  .hero p {
    font-size: 8px;
  }

  .info-grid_text h2 {
    font-size: 20px;
  }

  .info-grid_text p {
    font-size: 10px;
  }

  .btn {
    padding: 8px 16px;
    font-size: 12px;
  }

  .search-grid__bar {
    width: 80%;
    padding: 20px 30px;
  }


}


/* home page responsive end */

/* Login/register page start */
.form {
  height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  background-color: #242424;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 50px;
  gap: 15px;
  border-radius: 30px;

}

form input,
.profile-wrapper-box__content input,
form button {
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #303030;
}

form button {
  margin-top: 15px;
  background-color: #024578;
}

form button:hover {
  background-color: #0569db;
  cursor: pointer;
}

.signup-form__text {
  font-size: 14px;
  letter-spacing: 0;
}

.signup-form__text a {
  color: #82B6F3;
  text-decoration: underline;
}

.form-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
  font-weight: 300;
}

.form-text h1 {
  font-weight: 400;
  letter-spacing: 0;
}

.form-cta {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

.toast-message {
  background-color: #202020;
  position: relative;
  z-index: 100;
}

@media (max-width: 450px) {
  form {
    padding: 30px 25px;
    width: 100%;
    gap: 10px;
  }

  .form {
    width: 100%;
  }

  .form-text h1 {
    font-size: 25px;
  }

  .form-text p {
    font-size: 12px;
  }

  .form-text {
    padding: 15px 0;
  }

  .signup-form__text {
    font-size: 12px;
  }

  form input,
  form button,
  .profile-wrapper-box__content input {
    padding: 15px 30px;
  }

}

/* Login/register page End */


/* Loader start */
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5D3FD3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

.loaderScreen {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Loader End */

/* Movie Home start*/

.movie-home {
  height: 100dvh;
}

.movie-banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.movie-banner img{
  width: 100%;
  border-radius: 30px;
}

.movie-banner__info {
position: absolute;
top: 50%;
padding: 0 30px;
max-width: 800px;
z-index: 10;
}

.movie-banner__info h1{
  font-weight: 500;
  color: white;
  font-size: 4vw;
}

.swiper-pagination, .swiper-pagination-clickable ,.swiper-pagination-bullets, .swiper-pagination-horizontal{
  display: none;
}

.banner-reating {
  color: white;
  display: flex;
  align-items: center; 
  gap: 10px;
  font-size: 3vw;
  padding-top: 2vw;
}

.star {
  width: 3vw;
  height: 3vw;
  color: yellow;
}

.select-wrapper{
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
}

.swiper{
border-radius: 30px;
}
/* movie home end */

/* Profile page start */
.profile-wrapper h1 {
  font-weight: 400;
  color: white;
}

.profile-wrapper {
  z-index: 10;
  position: relative;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.profile-wrapper__box {
  background-color: #202020;
  height: 60vh;
  border-radius: 30px;
  display: flex;
  padding: 50px;
  width: 80%;
}


.profile-edit__box{
display: flex;
align-items: center;
width: 100%;
justify-content: space-between;
color: #818080;
}

.profile-edit__box span:hover{
  color: white;
  cursor: pointer;
}

.profile-wrapper-box__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.profile-user__details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 670px) {
  .profile-wrapper__box {
    width: 100%;
    padding: 40px 20px;
  }

  .profile-wrapper h1 {
    font-size: 30px;
  }
}

/* profile page end */